// SPDX-License-Identifier: GPL-2.0

/dts-v1/;


#include "tegra186.dtsi"
#include "tegra186-camera-legacy.dtsi"
#include "tegra186-camera-p3636-rbpcv2-imx219.dtsi"
#include "tegra186-p3636-0001-audio.dtsi"
#include "tegra186-p3636-0001-pwm-fan.dtsi"

#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/mfd/max77620.h>
#include "tegra186-p3636-0001-display.dtsi"
#include "tegra186-p3636-0001-display-imp.dtsi"
#include "tegra186-p3636-0001-balanced-throttle.dtsi"
#include "tegra186-p3636-0001-power-tree.dtsi"

/ {
	model = "NVIDIA Jetson TX2 NX P3636-0001 on P3509-0000";
	compatible = "nvidia,p3509-0000+p3636-0001",
		     "nvidia,p3636-0001",
		     "nvidia,tegra186";

	gpio-keys {
		compatible = "gpio-keys";

		power-key {
			label = "power-key";
			gpios = <&gpio_aon TEGRA_AON_GPIO(FF, 0) GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};
	};

	thermal_fan_est_shared_data: tfesd {
		secret = <37>;
		toffset = <0>;
		polling_period = <1100>;
		ndevs = <3>;
		cdev_type = "pwm-fan";
		tzp_governor_name = "pid_thermal_gov";

		dev1 {
			/* R32 BCPU-therm: Denver cluster. */
			dev_data = "denver";
			coeffs = <30 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
		};

		dev2 {
			/* R32 MCPU-therm: Cortex-A57 cluster. */
			dev_data = "a57";
			coeffs = <30 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
		};

		dev3 {
			/* R32 GPU-therm. */
			dev_data = "gpu";
			coeffs = <40 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0>;
		};
	};

	thermal_fan_est: thermal-fan-est {
		compatible = "thermal-fan-est";
		name = "thermal-fan-est";
		num_resources = <0>;
		shared_data = <&thermal_fan_est_shared_data>;
		trip_length = <10>;

		profiles {
			default = "quiet";

			quiet {
				active_trip_temps = <0 46000 60000 68000 76000
					140000 150000 160000 170000 180000>;
				active_hysteresis = <0 8000 8000 7000 7000
					0 0 0 0 0>;
			};

			cool {
				active_trip_temps = <0 35000 45000 53000 61000
					140000 150000 160000 170000 180000>;
				active_hysteresis = <0 8000 8000 7000 7000
					0 0 0 0 0>;
			};
		};
	};



	aliases {
		serial0 = &uarta;
		ethernet0 = "/ethernet@2490000";
		i2c3 = &dp_aux_ch1_i2c;
	};

	aliases {
		sdhci0 = &sdmmc1;
		sdhci1 = &sdmmc2;
		sdhci2 = &sdmmc3;
		sdhci3 = &sdmmc4;
	};

	nvpmodel {
		compatible = "nvidia,nvpmodel";
		status = "okay";
	};

	bwmgr {
		compatible = "nvidia,bwmgr";
		clocks = <&bpmp TEGRA186_CLK_EMC>;
		clock-names = "emc";

		nvidia,bpmp = <&bpmp>;

		cdev-type = "bwmgr-therm-handler";
		cooling-min-state = <0>;
		cooling-max-state = <1>;
		#cooling-cells = <2>;

		status = "okay";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x70000000>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};
};

&rtc {
	status = "okay";
};

&uarta {
	status = "okay";
};

/*
 * P3636 XUSB enablement.
 *
 * Restore the native Tegra186 XUSB lanes used by the original P3636
 * platform.  For the Turing Pi 2 use case USB2-0 is forced to host mode
 * instead of OTG so a USB device selected by the BMC switch enumerates
 * directly on the Tegra XHCI controller.
 */
&padctl {
	status = "okay";

	interrupts = <GIC_SPI 167 IRQ_TYPE_LEVEL_HIGH>;

	pads {
		usb2 {
			status = "okay";

			lanes {
				usb2-0 {
					nvidia,function = "xusb";
					status = "okay";
				};

				usb2-1 {
					nvidia,function = "xusb";
					status = "okay";
				};

				usb2-2 {
					nvidia,function = "xusb";
					status = "okay";
				};
			};
		};

		usb3 {
			status = "okay";

			lanes {
				usb3-1 {
					nvidia,function = "xusb";
					status = "okay";
				};
			};
		};
	};

	ports {
		usb2-0 {
			status = "okay";
			mode = "host";
		};

		usb2-1 {
			status = "okay";
			mode = "host";
		};

		usb2-2 {
			status = "okay";
			mode = "host";
		};

		usb3-1 {
			nvidia,usb2-companion = <1>;
			status = "okay";
		};
	};
};

&{/usb@3530000} {
	status = "okay";

	phys = <&{/padctl@3520000/pads/usb2/lanes/usb2-0}>,
	       <&{/padctl@3520000/pads/usb2/lanes/usb2-1}>,
	       <&{/padctl@3520000/pads/usb2/lanes/usb2-2}>,
	       <&{/padctl@3520000/pads/usb3/lanes/usb3-1}>;

	phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-1";
};

&{/usb@3550000} {
	status = "disabled";
};

/* Enable the Tegra186 security-engine TRNG used by the hwrng bridge. */
&se {
	status = "okay";
};

/* NVDEC requires KFUSE sensing during Falcon firmware bring-up. */
&kfuse {
	status = "okay";
};

/*
 * Legacy nvhost allocates per-channel address spaces from the T186 host1x
 * context StreamIDs. NVIDIA's R32 CVM DT enables all eight contexts.
 */
&host1x_ctx0 {
	status = "okay";
};

&host1x_ctx1 {
	status = "okay";
};

&host1x_ctx2 {
	status = "okay";
};

&host1x_ctx3 {
	status = "okay";
};

&host1x_ctx4 {
	status = "okay";
};

&host1x_ctx5 {
	status = "okay";
};

&host1x_ctx6 {
	status = "okay";
};

&host1x_ctx7 {
	status = "okay";
};

/*
 * MAX77620 system PMIC.
 *
 * This is the P3636-0001 rail/FPS description from NVIDIA's T18x
 * downstream board tree, translated to the 5.10 MAX77620 bindings.
 * Only board-consumer mappings needed by this headless TX2 NX port
 * are described below; display/camera/XUSB consumer rails stay out.
 */
&bpmp_i2c {
	status = "okay";

	spmic: pmic@3c {
		compatible = "maxim,max77620";
		reg = <0x3c>;

		interrupt-parent = <&pmc>;
		interrupts = <24 IRQ_TYPE_LEVEL_LOW>;

		#interrupt-cells = <2>;
		interrupt-controller;

		#gpio-cells = <2>;
		gpio-controller;

		#thermal-sensor-cells = <0>;

		/* P3636 uses the PMIC as the system power-off controller. */
		maxim,enable-clock32k-out;
		maxim,system-pmic-power-off;
		maxim,avoid-power-off-commands;

		pinctrl-names = "default";
		pinctrl-0 = <&spmic_default>;

		spmic_default: pinmux {
			gpio0 {
				pins = "gpio0";
				function = "gpio";
			};

			gpio1 {
				pins = "gpio1";
				function = "fps-out";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <1>;
				maxim,active-fps-power-down-slot = <3>;
			};

			gpio2 {
				pins = "gpio2";
				function = "fps-out";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_1>;
				maxim,active-fps-power-up-slot = <7>;
				maxim,active-fps-power-down-slot = <1>;
				status = "disabled";
			};

			gpio3 {
				pins = "gpio3";
				function = "fps-out";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_1>;
				maxim,active-fps-power-up-slot = <1>;
				maxim,active-fps-power-down-slot = <7>;
				status = "disabled";
			};

			gpio4 {
				pins = "gpio4";
				function = "32k-out1";
				drive-push-pull = <1>;
			};

			gpio5 {
				pins = "gpio5";
				function = "gpio";
				drive-push-pull = <0>;
			};

			gpio6 {
				pins = "gpio6";
				function = "gpio";
				drive-push-pull = <1>;
			};

			gpio7 {
				pins = "gpio7";
				function = "gpio";
				drive-push-pull = <1>;
			};
		};

		spmic_gpio_input {
			gpio-hog;
			gpios = <5 0 6 0>;
			input;
			label = "spmic_gpio_input_5",
				"spmic_gpio_input_6";
		};

		fps {
			fps0 {
				maxim,fps-event-source =
					<MAX77620_FPS_EVENT_SRC_EN0>;
				maxim,shutdown-fps-time-period-us = <640>;
			};

			fps1 {
				maxim,fps-event-source =
					<MAX77620_FPS_EVENT_SRC_EN1>;
				maxim,shutdown-fps-time-period-us = <640>;
				maxim,device-state-on-disabled-event =
					<MAX77620_FPS_INACTIVE_STATE_SLEEP>;
			};

			fps2 {
				maxim,fps-event-source =
					<MAX77620_FPS_EVENT_SRC_EN0>;
				maxim,shutdown-fps-time-period-us = <640>;
			};
		};

		backup-battery {
			backup-battery-charging-current = <100>;
			backup-battery-charging-voltage = <3000000>;
			backup-battery-output-resister = <100>;
			status = "disabled";
		};

		regulators {
			/*
			 * NVIDIA's P3636 wiring has LDO4 and LDO6 sourced
			 * from SD2, and LDO7/LDO8 sourced from SD1.  The
			 * 5.10 MAX77620 driver represents LDO4/LDO6 as one
			 * shared "in-ldo4-6" supply.
			 */
			in-ldo4-6-supply = <&spmic_sd2>;
			in-ldo7-8-supply = <&spmic_sd1>;

			spmic_sd0: sd0 {
				regulator-name = "vddio-ddr";
				regulator-boot-on;
				regulator-always-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <5>;
				maxim,active-fps-power-down-slot = <2>;
				regulator-enable-ramp-delay = <278>;
				regulator-disable-ramp-delay = <153000>;
				maxim,ramp-rate-setting = <27500>;
				regulator-ramp-delay = <3930>;
			};

			spmic_sd1: sd1 {
				regulator-name = "avdd_dsi_csi";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_1>;
				maxim,active-fps-power-up-slot = <3>;
				maxim,active-fps-power-down-slot = <1>;
				regulator-enable-ramp-delay = <211>;
				regulator-disable-ramp-delay = <40000>;
				maxim,ramp-rate-setting = <27500>;
				regulator-ramp-delay = <5500>;
			};

			spmic_sd2: sd2 {
				regulator-name = "vdd-1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <0>;
				maxim,active-fps-power-down-slot = <7>;
				regulator-enable-ramp-delay = <4000>;
				regulator-disable-ramp-delay = <21000>;
				maxim,ramp-rate-setting = <27500>;
				regulator-ramp-delay = <450>;
			};

			spmic_sd3: sd3 {
				regulator-name = "vdd-3v3-sys";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <6>;
				maxim,active-fps-power-down-slot = <1>;
				regulator-enable-ramp-delay = <574>;
				regulator-disable-ramp-delay = <40000>;
				maxim,ramp-rate-setting = <27500>;
				regulator-ramp-delay = <5500>;
			};

			spmic_ldo0: ldo0 {
				regulator-name = "spmic-ldo0";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_1>;
				regulator-enable-ramp-delay = <1000>;
				maxim,active-fps-power-up-slot = <3>;
				maxim,active-fps-power-down-slot = <3>;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <100000>;
			};

			spmic_ldo1: ldo1 {
				regulator-name = "spmic-ldo1";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_DEF>;
				regulator-enable-ramp-delay = <1000>;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <100000>;
			};

			spmic_ldo2: ldo2 {
				regulator-name = "vddio-3v3";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <6>;
				maxim,active-fps-power-down-slot = <1>;
				regulator-enable-ramp-delay = <152>;
				regulator-disable-ramp-delay = <14000>;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <20000>;
			};

			spmic_ldo3: ldo3 {
				regulator-name = "vddio-sdmmc1";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_NONE>;
				maxim,active-fps-power-up-slot = <0>;
				maxim,active-fps-power-down-slot = <7>;
				regulator-enable-ramp-delay = <160>;
				regulator-disable-ramp-delay = <16000>;
				maxim,ramp-rate-setting = <5000>;
				regulator-ramp-delay = <1000>;
			};

			spmic_ldo4: ldo4 {
				regulator-name = "vdd-rtc";
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_0>;
				maxim,active-fps-power-up-slot = <1>;
				maxim,active-fps-power-down-slot = <7>;
				regulator-enable-ramp-delay = <26>;
				regulator-disable-ramp-delay = <1650>;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <33000>;
			};

			spmic_ldo5: ldo5 {
				regulator-name = "avdd-ts-hv";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_DEF>;
				maxim,active-fps-power-up-slot = <0>;
				maxim,active-fps-power-down-slot = <7>;
				regulator-enable-ramp-delay = <309>;
				regulator-disable-ramp-delay = <16000>;
				maxim,ramp-rate-setting = <5000>;
				regulator-ramp-delay = <526>;
			};

			spmic_ldo6: ldo6 {
				regulator-name = "spmic-ldo6";
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_NONE>;
				regulator-always-on;
				regulator-boot-on;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <100000>;
			};

			spmic_ldo7: ldo7 {
				regulator-name = "vdd-pex-1v00";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_1>;
				maxim,active-fps-power-up-slot = <4>;
				maxim,active-fps-power-down-slot = <1>;
				regulator-enable-ramp-delay = <95>;
				regulator-disable-ramp-delay = <15000>;
				maxim,ramp-rate-setting = <100000>;
				regulator-ramp-delay = <10000>;
			};

			spmic_ldo8: ldo8 {
				regulator-name = "dvdd-pex";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				maxim,active-fps-source =
					<MAX77620_FPS_SRC_DEF>;
			};
		};
	};
};

/*
 * MAX77620 PMIC die thermal alarms.
 *
 * The MAX77620 provides fixed hardware temperature alarms at
 * 120 C and 140 C; it does not provide continuous die temperature.
 */
&{/thermal-zones} {
	PMIC-Die {
		polling-delay = <0>;
		polling-delay-passive = <0>;
		thermal-sensors = <&spmic>;

		trips {
			pmic_die_warn: hot-die {
				temperature = <120000>;
				type = "hot";
				hysteresis = <0>;
			};

			pmic_die_critical: critical-die {
				temperature = <140000>;
				type = "critical";
				hysteresis = <0>;
			};
		};
	};
};

/*
 * P3636-0002 PCIe configuration.
 *
 * The complete controller itself already lives in tegra186.dtsi.
  */
&{/pcie@10003000} {
	status = "okay";

	dvdd-pex-supply = <&spmic_ldo7>;
	hvdd-pex-pll-supply = <&spmic_sd2>;
	hvdd-pex-supply = <&spmic_sd2>;
	vddio-pexctl-aud-supply = <&spmic_sd2>;

	pci@1,0 {
		nvidia,num-lanes = <2>;
		nvidia,disable-clock-request;
		status = "okay";
	};

	pci@2,0 {
		nvidia,num-lanes = <1>;
		nvidia,disable-clock-request;
		status = "disabled";
	};

	pci@3,0 {
		nvidia,num-lanes = <1>;
		nvidia,disable-clock-request;
		status = "okay";
	};
};

/*
 * P3636-0001 onboard Gigabit Ethernet.
 *
 * Original Lanai wiring:
 *   PHY address: 1
 *   interface:   RGMII-ID
 *   PHY reset:   AON GPIO AA.6
 *   PHY IRQ:     AON GPIO AA.7
  */
&{/ethernet@2490000} {
	status = "okay";

	/*
	  * Original P3636/Lanai EQOS power tree.
	  */
	vddio_sys_enet_bias-supply = <&spmic_sd2>;
	vddio_enet-supply = <&spmic_sd3>;
	phy_vdd_1v8-supply = <&spmic_sd2>;
	phy_ovdd_rgmii-supply = <&spmic_sd3>;
	phy_pllvdd-supply = <&spmic_sd1>;

	phy-mode = "rgmii-id";
	phy-handle = <&lanai_phy>;

	phy-reset-gpios =
		<&gpio_aon TEGRA_AON_GPIO(AA, 6) GPIO_ACTIVE_LOW>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		lanai_phy: ethernet-phy@1 {
			reg = <1>;

			interrupt-parent = <&gpio_aon>;
			interrupts =
				<TEGRA_AON_GPIO(AA, 7) IRQ_TYPE_LEVEL_LOW>;
		};
	};
};

/*
 * P3636 module power monitor.
 *
 * NVIDIA's 4.9 board tree used the downstream "ti,ina3221x" binding.
 * Linux 5.10 has the upstream INA3221 hwmon driver, so translate the
 * three P3636 rails to its standard binding and preserve the 5 mOhm
 * shunts from the original board description.
 */
&cam_i2c {
	status = "okay";

	ina3221@40 {
		compatible = "ti,ina3221";
		reg = <0x40>;
		#address-cells = <1>;
		#size-cells = <0>;

		input@0 {
			reg = <0>;
			label = "VDD_IN";
			shunt-resistor-micro-ohms = <5000>;
		};

		input@1 {
			reg = <1>;
			label = "VDD_CPU_GPU";
			shunt-resistor-micro-ohms = <5000>;
		};

		input@2 {
			reg = <2>;
			label = "VDD_SOC";
			shunt-resistor-micro-ohms = <5000>;
		};
	};
};

/*
 * Tegra186 GP10B GPU.
 *
 * The upstream Tegra186 DT uses the generic "nvidia,gp10b"
 * compatible and leaves the node disabled.  The NVIDIA nvgpu
 * port uses the Tegra186-specific platform data through
 * "nvidia,tegra186-gp10b".
  */
&{/gpu@17000000} {
        compatible = "nvidia,tegra186-gp10b", "nvidia,gp10b";
        nvidia,host1x = <&host1x>;
        status = "okay";
};

/*
 * NVIDIA downstream Tegra186 memory controller.
 *
 * Required by the downstream T18x latency-allowance/PTSA implementation.
 * Resource 0 is the MC broadcast aperture, followed by MC0..MC3 and
 * EMC broadcast/EMC0..EMC3.
  */
&{/} {
        nvidia_downstream_mc {
                compatible = "nvidia,tegra-t18x-mc";

                reg-ranges = <1>;
                reg = <0x0 0x02c10000 0x0 0x00010000
                       0x0 0x02c20000 0x0 0x00010000
                       0x0 0x02c30000 0x0 0x00010000
                       0x0 0x02c40000 0x0 0x00010000
                       0x0 0x02c50000 0x0 0x00010000
                       0x0 0x02c60000 0x0 0x00010000
                       0x0 0x02c70000 0x0 0x00010000
                       0x0 0x02c80000 0x0 0x00010000
                       0x0 0x02c90000 0x0 0x00010000
                       0x0 0x02ca0000 0x0 0x00010000>;

                interrupts = <0 223 0x4>, <0 224 0x4>;
                int_mask = <0xf3140>;
                ecc_int_mask = <0x1c00>;
                channels = <4>;

                status = "okay";
        };
};

/*
 * BPMP communicates with the CCPLEX through the Tegra HSP.
 * tegra186.dtsi leaves this disabled; board DT must enable it.
  */
&hsp_top0 {
	status = "okay";
};

/ {
	nvidia_mc_sid: mc_sid@2c00000 {
		compatible = "nvidia,tegra186-mc-sid";
		reg = <0x0 0x02c00000 0x0 0x00010000>;
		status = "okay";
	};
};

&pmc {
	nvidia,invert-interrupt;
	nvidia,restrict-voltage-switch;

	pinctrl-names = "default";
	pinctrl-0 = <&p3636_iopad_defaults>;

	p3636_iopad_defaults: iopad-defaults {
		sdmmc-io-pads {
			pins = "sdmmc1-hv", "sdmmc2-hv", "sdmmc3-hv";
			nvidia,enable-voltage-switching;
		};
	};
};


/* P3636 onboard eMMC -- settings ported from NVIDIA L4T 4.9 */
&sdmmc4 {
	status = "okay";

	/* P3636 eMMC power tree from NVIDIA's downstream board DTS. */
	vqmmc-supply = <&spmic_sd2>;
	vmmc-supply = <&spmic_sd3>;

	max-clk-limit = <196249804>;
	ddr-clk-limit = <48000000>;

	nvidia,clk-en-before-freq-update;

	tap-delay = <9>;
	trim-delay = <5>;
	nvidia,ddr-tap-delay = <9>;
	ddr-trim-delay = <5>;

	mmc-ocr-mask = <0>;
	bus-width = <8>;

	ignore-pm-notify;
	keep-power-in-suspend;
	non-removable;

	cap-mmc-highspeed;
	cap-sd-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	only-1-8-v;

	compad-vref-3v3 = <0x7>;
	compad-vref-1v8 = <0x7>;

	nvidia,min-tap-delay = <84>;
	nvidia,max-tap-delay = <136>;

	nvidia,is-emmc;
	nvidia,set-parent-clk;

	calib-3v3-offsets = <0x0505>;
	calib-1v8-offsets = <0x0505>;

	nvidia,parent_clk_list =
		"pll_p", "pll_p", "pll_p", "pll_p", "pll_p",
		"pll_c4_out0", "pll_c4_out0", "pll_c4_out0",
		"pll_c4_out0", "pll_c4_out0", "pll_c4_out0";

	pll_source = "pll_p", "pll_c4_out0";

	prod-settings {
		#prod-cells = <3>;

		prod_c_ds {
			prod = <
				0x00000100 0x00FF0000 0x00090000
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20007F7F 0x20000000
			>;
		};

		prod_c_hs {
			prod = <
				0x00000100 0x00FF0000 0x00090000
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20007F7F 0x20000000
			>;
		};

		prod_c_ddr52 {
			prod = <
				0x00000100 0x1FFF0000 0x05090000
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20007F7F 0x20000000
			>;
		};

		prod_c_hs200 {
			prod = <
				0x00000100 0x00FF0000 0x00090000
				0x000001C0 0x0000E000 0x00004000
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20007F7F 0x20000505
			>;
		};

		prod_c_hs400 {
			prod = <
				0x00000100 0x00FF0000 0x00090000
				0x000001C0 0x0000E000 0x00004000
				0x0000010C 0x00003F00 0x00003F00
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20007F7F 0x20000505
			>;
		};

		prod_c_hs533 {
			prod = <
				0x00000100 0x00FF0000 0x00090000
				0x000001C0 0x0000E000 0x00002000
				0x000001E0 0x0000000F 0x00000007
				0x000001E4 0x20000000 0x20000505
			>;
		};

		prod {
			prod = <
				0x00000100 0x1FFF002E 0x05090028
				0x0000010C 0x00003F00 0x00003F00
				0x000001C0 0x0BFC1FF8 0x08000050
				0x000001C4 0x00000077 0x00000000
				0x00000120 0x00020001 0x00000001
				0x00000128 0x43000000 0x00000000
			>;
		};
	};
};

/* Tegra186 APE/NVADSP. The ADSP OS is preloaded from the adsp-fw partition. */
&aconnect {
	status = "okay";
};

&agic {
	status = "okay";
};

&adsp {
	status = "okay";
};

&tegra_adsp_audio {
	status = "okay";
};

&tegra_sata {
	status = "okay";
};

/* NVIDIA's P3636 board enables the four PWM controllers used on the module/CVB. */
&tegra_pwm1 {
	status = "okay";
};

&tegra_pwm2 {
	status = "okay";
};

&tegra_pwm3 {
	status = "okay";
};

&tegra_pwm4 {
	status = "okay";
};

/* P3636 fan tachometer input. The 5.10 driver exposes RPM through hwmon. */
&tegra_tachometer {
	status = "okay";
};
